body {
  margin: 0px;
  font-family: 'Noto Sans', sans-serif;
}

button:focus {
  outline: none;
}

.fixed-menu {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: rgba(97, 61, 155, 0.7);
  z-index: 1; /*quero que fique acima de todo mundo*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fixed-menu div {
  margin: 10px;
}

.logo-content {
  border-right: 1px solid white;
  padding: 0px 30px;
}

.menu-content {
  padding-right: 30px;
}

.menu-content button {
  background-color: transparent;
  color: white;  
  font-size: 15px;
  font-weight: 200;
  padding: 0px 10px;  
  border: 0px;
  cursor: pointer;
  width: auto; /* obrigando a respeitar o conteúdo dentro do botão */
  height: 37px;
  display: flex;
  justify-content: center;
}

.menu-bar {
  cursor: pointer;
}

.menu-bar-style {
  background-color: white;
  width: 30px;
  height: 3px;  
  margin: 6px 0;
}

.header {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  color: white;
  /* background-color: rgba(97, 61, 155, 0.7); */
  background-image: url("../imgs/fundo_header.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.header h1 {
  margin: 5px;
  font-size: 25px;
}

.title-trainee {
  font-weight: 300;
}

/* nunca usar galleryContainer */
.gallery-container {
  margin: 10px auto; /* auto: centraliza */
  width: 1360px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap; /*se notar que o container passou do tamanho fixo dele, quebra linha */
}

/* lembrar que o > significa filhos diretos */
.gallery-container > div {
  width: 250px;
  height: 380px;
  margin: 10px;
  background-color: #363636;
  border: 1px solid gray;
  border-radius: 5px;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /*incluído pro position absolute do img-legend obedecer esse cara aqui e não o body*/
}

.img-legend {
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.7); /*rgb e alfa.. alfa: transparencia*/
  position: absolute;
  bottom: 0;
  color: white;
  border-radius: 5px;
  display: flex; /*se colocar o flex-grow no filho, precisa colocar o flex no pai*/
}

/*a div que tiver essa classe dentro dessa classe*/
.img-legend div.text-legend {
  white-space: nowrap; /*não quebrar a linha*/
  overflow: hidden; /*esconder*/
}

.text-legend {
  /*flex-grow: 4;*/
  flex: 4;
  padding: 5px 0px;
  /*background-color: red;*/
}

.img-legend div h4, h6 {
  margin: 4px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.more-details {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*o botão que está dentro dessa classe*/
.more-details button {
  background-color: #e72f85;
  border: 0px;
  border-radius: 20px;
  width: 37px;
  height: 37px;
  color: white;
  font-size: 35px;
  padding: 0px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

/*toda vez que tiver os dois pontos, estamos falando de comportamento (pseudo classes)*/
.more-details button:hover {
  background-color: #e5bace;
  color: #e72f85;
}

.more-details button span {
  margin-top: -2px;
  font-weight: 600;
}

.genre-container {
  display: flex;
  position: relative;
  flex-direction: column;
}

/* detecta o tamanho da tela e seta de acordo com o max-width*/
@media only screen and (max-width: 1359px) {
  .gallery-container {
      width: 816px;
  }
  .header {
      height: 225px;
      text-align: center;
  }

  .header h1 {
      font-size: 50px;
      margin: 5px;
  }
}

@media only screen and (max-width: 815px) {
  .gallery-container {
      width: 544px;
  }

  .header h1 {
      font-size: 40px;
      margin: 5px;
  }
}

@media only screen and (max-width: 543px) {
  .gallery-container {
      width: 272px;
  }
  
  .header h1 {
      font-size: 30px;
      margin: 5px;
  }

  .menu-content button {
      font-size: 12px;
  }
}