body {
  margin: 0px;
  font-family: 'Noto Sans', sans-serif;
}

.fixed-menu {
  position: fixed;
  width: 100%;
  height: 60px;
  /* background-color: blueviolet; */
  z-index: 1;
  display: flex;
}

.genre-container {
  display: flex;
  position: relative;
}
